// Variables
$text-color: #0033CC;
$hover-color: #FF0000;
$buttonTextColor: #FF0000;
$border-color: #666666;
$name-color: #0033CC;

//Mixin
@mixin avitar {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  padding: 0;
  }

header{

  background: url("../img/sun.jpeg");
  background-size: cover;
  height: 400px;
  overflow: visible;
  width: 100%;
  margin-top: 20px;
  }

#headerNav{

  display:inline-block;
  position: relative;
  right: 0;
  top: 0;
  float:right;
  text-align:center;
  }

#headerLinks{

  float: right;
  margin-right: 10px;
  position: relative;

  }

.title{

  text-align:center;

  }

.title h1{

  color: white;
  font-size: 8rem;
  font-weight: lighter;
  padding-top: 97px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;

  }

.title p{

  font-weight: lighter;
  font-family:'Oswald', sans-serif;
  margin-top: 0;

  }

a:hover{

  color: $hover-color;

  }

body{

  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-family: 'Open Sans', sans-serif;

  }

.container{

  max-width:965px;
  margin: auto;
  overflow: hidden;

  }

article{

  float: left;
  width: 65%;
  padding: 30px;
  margin: 0px;

  }

.name{

  color: $name-color;
  }

.post img{

  @include avitar;
  float: left;
  margin: 0 20px 0 10px;
  display: inline-block;
  position: relative;
  bottom: 34px;

  }

.post{

  padding: 0px;
  margin-top: 57px;
  float: bottom;

  }

aside{

  float: left;
  position:absolute;
  padding: 100px 0 0 20px;
  margin-left: 0px;
  display: inline;
  width: 300px;
  text-align: center;

  }

.ad{

  height: 200px;
  width: 300px;

  }

.adLink {

  text-align: left;
  float:right;
  clear:right;
  margin-left: 10px;

  }

.border{

  border-left-style: solid;
  border-width: 2px;
  border-color: $border-color;

  }

.avitar{

  @include avitar;
  margin-left: 0px;

  }

aside h3{

  text-align: center;

  }

 #social{

  display: block;
  margin-left: 56px;
  text-align: left;
  padding-bottom: 39px;

  }

h2{

  text-transform: uppercase;
  font-size: 4rem;
  font-stretch: condensed;

  }

h3{

  text-transform: uppercase;
  font-size: 1rem;
  font-weight: lighter;
  color: $text-color;
  margin-left: 3PX;
  padding-top: 20px;

  }

.buttonText{

  text-transform: uppercase;
  font-size: 2em;
  color: $buttonTextColor;
  position: relative;
  top: 300px;
  display: inline-block;
  z-index: 2;
  margin: 0;
  padding: 0;

  }

.button{

  width:25%;
  display: absolute;
  float:left;

  }

.button img{

  z-index: 1;
  height: 311px;
  width: 100%;
  position: relative;

  }

#buttonTitle{

  text-align: center;
  margin-bottom: 0;

  }

#bottomImages{

  width: 100%;

  }

.bottomLinks img{

  display: inline-block;
  position: relative;

  }

#navPosts{

  float:right;
  clear: both;
  text-align: right;
  position: relative;
  margin-top: 10px;
  }

footer{
  width: 100%;
  display: block;
  clear: both;
}

.footerContainer{

  max-width: 965px;
  height: 100px;
  margin: auto;
  margin-top: 30px;

  }

.logo {
  width: 50px;
  vertical-align: middle;
  display: inline;
  position: relative;
  top: 0;
  left: 0;

  }

#footerImg{

  float: left;
  }


#copyright{

  margin: 20px;
  }
