header {
  background-image: url(../img/sun.jpeg);
  background-size: cover;
  height: 400px;
  overflow: visible;
  width: 100%;
  display: block; }
  @media screen and (max-width: 320px) {
    header {
      height: 100px;
      width: 50%; } }

#headerNav {
  display: inline-block;
  position: relative;
  right: 0;
  top: 0;
  float: right;
  text-align: center; }

#headerLinks {
  float: right;
  margin-right: 10px;
  position: relative; }

.title {
  text-align: center;
  margin-top: 20px; }
  .title h1 {
    color: white;
    font-size: 6em;
    font-weight: lighter;
    padding-top: 97px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em; }
    @media screen and (max-width: 320px) {
      .title h1 {
        font-size: 1em;
        padding-top: 40px; } }
  .title p {
    font-size: 1em;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    margin-top: 0; }
    @media screen and (max-width: 320px) {
      .title p {
        font-size: 1em; } }

a:hover {
  color: red; }

body {
  font-size: 1em;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-family: 'Open Sans', sans-serif; }
  @media screen and (max-width: 320px) {
    body {
      font-size: 1em; } }

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    .container {
      max-width: 320px; } }

article {
  float: left;
  width: 60%;
  padding: 30px;
  margin: 0px;
  overflow: auto; }
  @media screen and (max-width: 320px) {
    article {
      width: 100%;
      margin: 0 20px 0 10px;
      bottom: 34px; } }

.name {
  color: #0033cc; }

.post {
  padding: 0px;
  margin-top: 57px;
  float: bottom; }
  .post img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    padding: 0;
    float: left;
    margin: 0 20px 0 10px;
    display: inline-block;
    position: relative;
    bottom: 34px; }
    @media screen and (max-width: 320px) {
      .post img {
        height: 75px;
        width: 75px; } }
  @media screen and (max-width: 320px) {
    .post {
      margin-top: 10px; } }

aside {
  float: left;
  position: absolute;
  padding: 100px 0 0 20px;
  margin-left: 0px;
  display: block;
  width: 300px;
  text-align: center; }
  @media screen and (max-width: 320px) {
    aside {
      padding: 20px 0 0 0;
      width: 100px;
      clear: left; } }
  aside aside h3 {
    text-align: center; }

.ad {
  height: 200px;
  width: 300px; }

.adLink {
  text-align: left;
  float: right;
  clear: right;
  margin-left: 10px; }

.border {
  border-left-style: solid;
  border-width: 2px;
  border-color: #666666; }

.avitar {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  padding: 0;
  margin-left: 0px; }
  @media screen and (max-width: 320px) {
    .avitar {
      height: 75px;
      width: 75px; } }

#social {
  display: block;
  margin-left: 56px;
  text-align: left;
  padding-bottom: 39px; }

h2 {
  text-transform: uppercase;
  font-size: 4em;
  font-stretch: condensed; }
  @media screen and (max-width: 320px) {
    h2 {
      font-size: 2em; } }

h3 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: lighter;
  color: #0033cc;
  margin-left: 3PX;
  padding-top: 20px; }
  @media screen and (max-width: 320px) {
    h3 {
      font-size: 1em; } }

.buttonText {
  text-transform: uppercase;
  font-size: 1em;
  color: red;
  position: relative;
  top: 300px;
  display: inline-block;
  z-index: 2;
  margin: 0;
  padding: 0; }

.button {
  width: 25%;
  display: absolute;
  float: left; }
  .button img {
    z-index: 1;
    height: 311px;
    width: 100%;
    position: relative; }

#buttonTitle {
  text-align: center;
  margin-bottom: 0; }

#bottomImages {
  width: 100%; }
  #bottomImages img {
    display: inline-block;
    position: relative; }
    @media screen and (max-width: 320px) {
      #bottomImages img {
        clear: both; } }

#navPosts {
  float: right;
  clear: both;
  text-align: right;
  position: relative;
  margin-top: 10px; }
  @media screen and (max-width: 320px) {
    #navPosts {
      clear: both; } }

footer {
  width: 100%;
  display: block;
  clear: both; }

.footerContainer {
  max-width: 960px;
  height: 100px;
  margin: auto;
  margin-top: 30px; }
  @media screen and (max-width: 320px) {
    .footerContainer {
      max-width: 320px; } }

.logo {
  width: 50px;
  vertical-align: middle;
  display: inline;
  position: relative;
  top: 0;
  left: 0; }

#footerImg {
  float: left; }

#copyright {
  margin: 20px; }
  @media screen and (max-width: 320px) {
    #copyright {
      margin: 10px; } }
