

header{
  background: url("../images/sun.jpeg");
  background-size: cover;
  height: 600px;
  overflow: visible;
  }

.title{
  text-align:center;
  }

.title h1{
  color: white;
  font-size: 10rem;
  font-weight: lighter;
  padding: 60px;
  }

.title p{
    font-size: 1rem;
    font-weight: lighter;
  }

body{
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  }

article{
  float: left;
  max-width:1000px;
  padding: 20px;
  margin: 0px 5px 0 100px;
  width:75%;
  }

aside{
  float: right;
  padding: 40px;
  margin: 50px 20px 0 0;
  display: inline;
  width: 25%;
  }

nav{
  display: inline-block;
}

h2{
  text-transform: uppercase;
  font-size: 4rem;
  font-stretch: condensed;
  }

h3{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: lighter;
  color: #006699;
  }

nav{
  display: inline-block;
}

.links{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: lighter;
  color: #006699;
  }
